<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      id="hotdeployBuilder"
      name="Manik Builder"
      point="org.eclipse.core.resources.builders">
    <builder
        hasNature="true">
      <run
          class="org.imixs.eclipse.manik.HotdeployBuilder">
      </run>
    </builder>
   </extension>
   
  <extension
      id="hotdeployNature"
      name="Manik Nature"
      point="org.eclipse.core.resources.natures">
    <runtime>
      <run
          class="org.imixs.eclipse.manik.HotdeployNature">
      </run>
      </runtime>
      <builder
          id="org.imixs.eclipse.manik.hotdeployBuilder">
      </builder>
  </extension>
    
  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
        adaptable="true"
        objectClass="org.eclipse.core.resources.IProject"
        nameFilter="*"
        id="manik.actions">
      <menu
          id="org.imixs.eclipse.manik.subMenu"
        	label=" Manik Hot Deployment"
        	menubarPath="additions">
        <separator name="group1"/>
      </menu>
      <action 
          label="enable"
          class="org.imixs.eclipse.manik.EnableNatureAction"
          menubarPath="org.imixs.eclipse.manik.subMenu/group1"
          enablesFor="+"
          id="org.imixs.eclipse.manik.enableNatureAction">
        <enablement>
          <and>
            <not>
              <objectState
                  value="org.imixs.eclipse.manik.hotdeployNature"
                  name="projectNature"/>
            </not>
          </and>
        </enablement>
      </action>
      <action 
               label="disable"
               class="org.imixs.eclipse.manik.DisableNatureAction"
               menubarPath="org.imixs.eclipse.manik.subMenu/group1"
               enablesFor="+"
               id="org.imixs.eclipse.manik.disableNatureAction">
                <enablement>
               <and>
                     <objectState
                           value="org.imixs.eclipse.manik.hotdeployNature"
                           name="projectNature">
                     </objectState>
               </and>
            </enablement>

         </action>
         <action 

               label="redeploy..."
               class="org.imixs.eclipse.manik.RedeployNatureAction"
               menubarPath="org.imixs.eclipse.manik.subMenu/group1"
               enablesFor="+"
               id="org.imixs.eclipse.manik.redeployNatureAction">
                <enablement>
               <and>
                     <objectState
                           value="org.imixs.eclipse.manik.hotdeployNature"
                           name="projectNature">
                     </objectState>
               </and>
            </enablement>
         </action>
      	 </objectContribution>
   </extension>
   
     <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.imixs.eclipse.manik.TargetPropertyPage"
            id="proppage.properties.samplePropertyPage"
            name="Manik Hot Deployment"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject">
	         <filter
	               name="nature"
	               value="org.imixs.eclipse.manik.hotdeployNature">
	         </filter>
       </page>
   </extension>


</plugin>
